body {
    margin: 0;
}
.app-root {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2vw 0;
    height: 100vh;
}
